apiVersion: kubeadm.k8s.io/v1beta1
kind: InitConfiguration
nodeRegistration:
  kubeletExtraArgs:
    cgroup-driver: "systemd"
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: v1.17.2
imageRepository: k8s.gcr.io
certificatesDir: /etc/kubernetes/pki
clusterName: kubernetes
apiServer:
  certSANs:
    - 172.30.10.253
    - 2406:da14:242:f10:7575:2952:409:e4bc
    - 172.30.10.249
    - 2406:da14:242:f10:9aad:24e:e984:bc6d
    - 172.30.10.237
    - 2406:da14:242:f10:ee10:dd0e:a807:9f0a
  extraArgs:
    authorization-mode: Node,RBAC
    #bind-address: "::"
    service-cluster-ip-range: 192.168.30.0/24,fd03::/120
    feature-gates: IPv6DualStack=true
  timeoutForControlPlane: 4m0s
controllerManager:
  extraArgs:
    #bind-address: "::"
    cluster-cidr: 192.168.0.0/24,fd05::/120
    service-cluster-ip-range: 192.168.30.0/24,fd03::/120
    allocate-node-cidrs: "true"
    node-cidr-mask-size-ipv4: "25"
    node-cidr-mask-size-ipv6: "121"
    feature-gates: IPv6DualStack=true
dns:
  type: CoreDNS
etcd:
  local:
    dataDir: /var/lib/etcd
networking:
  dnsDomain: cluster.local
  podSubnet: "192.168.0.0/24,fd05::/120"
  serviceSubnet: "192.168.30.0/24,fd03::/120"
scheduler:
  extraArgs:
    #bind-address: "::"
    feature-gates: IPv6DualStack=true
featureGates:
  IPv6DualStack: true
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: "systemd"
failSwapOn: false
clusterDNS:
  - 192.168.30.10
#address: "::"
featureGates:
  IPv6DualStack: true
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
#bindAddress: "::"
clusterCIDR: "192.168.0.0/24,fd05::/120"
mode: "ipvs"
featureGates:
  IPv6DualStack: true
  SupportIPVSProxyMode: true
